$white: #ffffff;
$green-color: #008966;
$dark-green-color: #007c5d;
$light-green-color: #00EFB2;
$medium-green-color: #00bc8c;
$blue-color: #54b1c1;
$body-color: #222222;
$block-color: #303030;
$border-color: #555555;
$hover-color: #444444;
$error-color: #d62c1a;
$header-color: #363636;